grey=#545454

html 
	height 100%

body
	padding 0
	margin 0
	min-width 960px
	height 100%



.top-bar
	width 100%
	background-image -webkit-gradient(linear,left top,left bottom,color-stop(0, #048EB8),color-stop(1, #42C0FF))
	background-image -o-linear-gradient(bottom, #048EB8 0%, #42C0FF 100%)
	background-image -moz-linear-gradient(bottom, #048EB8 0%, #42C0FF 100%)
	background-image -webkit-linear-gradient(bottom, #048EB8 0%, #42C0FF 100%)
	background-image -ms-linear-gradient(bottom, #048EB8 0%, #42C0FF 100%)
	background-image linear-gradient(to bottom, #048EB8 0%, #42C0FF 100%)

	ul
		padding 0
		margin 0
		li 
			display inline-block
			a
				text-decoration none
				color #fff
				font-family 'Open Sans', sans-serif
				display inline-block
				padding 20px
				font-weight 300
				
				margin 0
				&:hover {
					background #fff
					color grey
				}
.clearfix {
	display table
	clear both
	content ''
}	

.wrapper {
	margin 0 auto
	max-width 1180px
	height 100%
}	

aside 
	width 14%
	margin 0
	padding 4% 4% 0 4%
	float left
	background #eee
	height 100%
	ul
		padding 0
		li
			list-style-type none
			height 100px
			background #fff
			margin-bottom 10px

main
	float
	width 78%
	margin 0
	padding 4% 4% 0 4%
	background #ccc
	height 100%		

#draggable-block
	width 20px
	height 20px
	float left
	display block
	border 0
	background red

#draggable-round
	width 20px
	height 20px
	-webkit-border-radius 20px
	-moz-border-radius 20px
	border-radius 20px
	float left
	display block
	border 0
	background red	
