!!! 5
%html 
	%head 
		%meta{ :charset=>'UTF-8'}/ 
		%link{:rel => "stylesheet", :href => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"}/ 
		%link{:rel => "stylesheet", :href => "css/app.css"}/
		%script{ :src=>'http://code.jquery.com/jquery-1.10.2.min.js'}
		%script{ :src=>'http://code.jquery.com/ui/1.10.3/jquery-ui.js'}
		%script{ :src=>'js/app.js'} 
	%body
		.top-bar
			%ul 
				%li
					%a{:href => "#"} File  
					%a{:href => "#"} Add
		.clearfix
		%section.wrapper 
			%aside 
				#draggable-block.ui-widget-content
					#draggable-block.ui-widget-content
				#draggable-round.ui-widget-content
					#draggable-round.ui-widget-content	
			%main#container.ui-widget-content 
				main field
			.clearfix	
									
			