<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ember Starter Kit</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="wrapper">
    <nav>
        <a href="#"><img src="img/home.png" alt=""/></a>
        <a href="#"><img src="img/arrow.png" alt=""/></a>
    </nav>

    <main>
        <h2>Title for best post of the Ukraine</h2>
        <time>П'ятниця, 15 Листопада 2013, 13:00	</time>
        <div class="parent_url">
            versii.if.ua
        </div>
        <hr/>
        <p>
            <img src="img/photo.png" alt=""/>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi ducimus, ea ex excepturi hic illum, itaque laudantium nemo non quas quia quod quos sunt temporibus totam vel veniam voluptatibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut autem dolorum ex illum ipsum iste itaque, labore nihil nobis nulla perspiciatis provident quidem, quo recusandae reiciendis rerum sapiente vitae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur consequuntur, debitis dolores eaque exercitationem fuga iure laborum magnam maiores mollitia quibusdam rerum tempora, tenetur vitae voluptatibus voluptatum? Magnam, voluptatibus!</p>
    </main>
    
    <script type="text/x-handlebars" id="posts">
        <aside>
        <section>
                {{#each model}}
                    <h4> {{#link-to 'post' this}}{{title}}</h4>{{/link-to}}
              {{outlet}}
          </section>
        
            <section>
                <h4>Title Post</h4>
                <time> Середа, 15 Листопада 2013, 13:00 </time>
                <div class="parent_url">
                    versii.if.ua
                </div>
                <div class="clear"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum cumque dolorum eius eligendi facilis harum iure laudantium, magnam magni, non optio quas quis rem sapiente veritatis voluptates? Eius, quasi?</p>
                <hr/>
            <section>
        </aside>
    </script>
</div>





  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember-1.2.0.js"></script>
  <script src="js/app.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
</body>
</html>
