$site-width: 100%;


$grey: #a5a39c;
$font-color: #343434;
$dark-grey: #343434;
$shadow: #1d1d1d;
$shadow-yellow: #ece8df;
$yellow: #f3efe5;

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: $site-width;
  height: 100%;
}

nav {
  width: $site-width/10;
  background: $dark-grey;
  height: 100%;
  float: left;
  max-width: 100px;
  box-shadow: -4px 0px 4px $shadow inset;
  a {
    display: block;
    width: 28px;
    margin: 0 auto;

    &:first-child {
      margin-top: 20px;
    }

    &:last-child {
      position: relative;
      top: 87%;
    }
  }
}

aside {
  width: $site-width/3.5;
  background: $yellow;
  height: 100%;
  float: left;
  box-shadow: -4px 0px 4px $shadow-yellow inset;
  overflow: scroll;
  section {
    width: 90%;
    margin: 5%;

    h4 {
      font-size: 18px;
      font-weight: bold;
      font-family: Georgia, Times New Roman, Times, serif;
      color: $font-color;
    }

    time {
      font-size: 13px;
      color: $grey;
      float: left;
    }

    .parent_url {
      font-size: 13px;
      color: $grey;
      float: right;
    }

    .clear {
      clear: both;
    }

    p {
      font-size: 14px;
      color: $font-color;
    }

  }

}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(255, 187, 0, 0.10);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

main {
  width: $site-width - ($site-width/3.5 + $site-width/10);
  height: 100%;
  float: right;

  img {
    max-width: 100%;
  }

  h2 {
    font-size: 32px;
    font-family: georgia, Times New Roman, Times, serif;
    font-weight: bold;
  }

  time, .parent_url {
    font-size: 13px;
    color: $grey;
  }

  .clear {
    clear: both;
  }

  p {
    font-size: 15px;
  }
}

.active {
  font-weight: bold;
}







@media screen and (max-width: 800px) {
  nav, aside, main {
    max-width: 100%;
    width: 100%;
    float: left;
    height: auto;
  }
}