html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

.wrapper {
  width: 100%;
  height: 100%; }

nav {
  width: 10%;
  background: #343434;
  height: 100%;
  float: left;
  max-width: 100px;
  box-shadow: -4px 0px 4px #1d1d1d inset; }
  nav a {
    display: block;
    width: 28px;
    margin: 0 auto; }
    nav a:first-child {
      margin-top: 20px; }
    nav a:last-child {
      position: relative;
      top: 87%; }

aside {
  width: 28.57143%;
  background: #f3efe5;
  height: 100%;
  float: left;
  box-shadow: -4px 0px 4px #ece8df inset;
  overflow: scroll; }
  aside section {
    width: 90%;
    margin: 5%; }
    aside section h4 {
      font-size: 18px;
      font-weight: bold;
      font-family: Georgia, Times New Roman, Times, serif;
      color: #343434; }
    aside section time {
      font-size: 13px;
      color: #a5a39c;
      float: left; }
    aside section .parent_url {
      font-size: 13px;
      color: #a5a39c;
      float: right; }
    aside section .clear {
      clear: both; }
    aside section p {
      font-size: 14px;
      color: #343434; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(255, 187, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

main {
  width: 61.42857%;
  height: 100%;
  float: right; }
  main img {
    max-width: 100%; }
  main h2 {
    font-size: 32px;
    font-family: georgia, Times New Roman, Times, serif;
    font-weight: bold; }
  main time, main .parent_url {
    font-size: 13px;
    color: #a5a39c; }
  main .clear {
    clear: both; }
  main p {
    font-size: 15px; }

.active {
  font-weight: bold; }

@media screen and (max-width: 800px) {
  nav, aside, main {
    max-width: 100%;
    width: 100%;
    float: left;
    height: auto; } }
