$dark-grey: #2c2c2c;
$light-grey: #edece9;
$light-orange: #ffb43e;
$dark-orange: #f46017;
$orange: #f48c18;

$top-gradient: #444444;
$bot-gradient: #535353;

body {
	font-family: 'Open Sans', sans-serif;
}

.mt80 {
	margin-top: 80px;
}

.logo {
	margin-top: 10px;
	margin-bottom: 10px;
}


h3 {
	font-weight: bold;
	color: $orange;
}

h4 {
	font-weight: bold;
	font-size: 20px;
}

.row-full {
	width: 100%;
}

.text-orange {
	color: $orange;
}

.dark-grey {
	background: $dark-grey;
}

	.slider-area {
	background: url('../img/background.png') no-repeat center center;
}

.top-bar {
	margin-top: 10px;
	height: 30px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #000;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #444444),
	color-stop(1, #535353)
);
background-image: -o-linear-gradient(bottom, #444444 0%, #535353 100%);
background-image: -moz-linear-gradient(bottom, #444444 0%, #535353 100%);
background-image: -webkit-linear-gradient(bottom, #444444 0%, #535353 100%);
background-image: -ms-linear-gradient(bottom, #444444 0%, #535353 100%);
background-image: linear-gradient(to bottom, #444444 0%, #535353 100%);

	.top-bar-section li a:not(.button) {
		line-height: 28px;
		text-shadow: 0 1px 1px #000;
		font-size: 13px;
		font-family: 'Open Sans', sans-serif;

		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, #444444),
			color-stop(1, #535353)
		);
		background-image: -o-linear-gradient(bottom, #444444 0%, #535353 100%);
		background-image: -moz-linear-gradient(bottom, #444444 0%, #535353 100%);
		background-image: -webkit-linear-gradient(bottom, #444444 0%, #535353 100%);
		background-image: -ms-linear-gradient(bottom, #444444 0%, #535353 100%);
		background-image: linear-gradient(to bottom, #444444 0%, #535353 100%);

		&:hover {
			text-decoration: underline;
		}
	}
}

select {
	background: url('../img/down-arrow.png') no-repeat right center;
	border: 0;
	color: #fff;
	outline: none;
	padding-left: 70px;
	font-size: 14px;
	&:hover {
		background: url('../img/down-arrow.png') no-repeat right center;
		border: 0;	
		text-decoration: underline;
	}
}

#phone {
	color:#fff;
	margin-top: 10px;
	font-size: 14px;
}



.img-question {
	position: relative;
	left:-180px;
	top: -18px;
}

.orbit-timer {
	display: none;
}	


h1 {
	font-size: 38px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	/*background: transparent url('../img/question.png') 70% 0px no-repeat;*/
}

.slider-iphone {
	position: relative;
	left:90px;
	top: 40px;
	z-index: 110;
	img {
		z-index: 9;
	}
.orbit-container {
	position: relative;
	top: -365px;
	left: 21px;
	z-index: 99;
}
}

.slider-browser {
	position: relative;
	right:50px;
	img {
		z-index: 9;
		
		margin: 0 auto;
	}
.orbit-container {
	position: relative;
	top: -418px;
	left: -6px;
	z-index: 99;
	
	img {
		width: 97.5% !important;
	}
}
}

.sliders {
	.slider-browser,.slider-iphone {
		margin-bottom: -570px;
	}
}

.buy {
	margin-top: 200px;
}

.buy-button {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFB53E),
	color-stop(1, #F46117)
);
background-image: -o-linear-gradient(bottom, #FFB53E 0%, #F46117 100%);
background-image: -moz-linear-gradient(bottom, #FFB53E 0%, #F46117 100%);
background-image: -webkit-linear-gradient(bottom, #FFB53E 0%, #F46117 100%);
background-image: -ms-linear-gradient(bottom, #FFB53E 0%, #F46117 100%);
background-image: linear-gradient(to bottom, #FFB53E 0%, #F46117 100%);
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0 -2px 0px #000;

	padding: 20px 100px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color:#fff;
	display: block;
	position: relative;
	top: 60px;
	text-align: center;

	&:hover {
		color: #fff;
	}
}


.item-container {
	margin-bottom: 30px;
}

.item {
	img {
		margin-bottom: 20px;
	}

	border: 1px solid #ccc;

	.link {
		font-weight: bold;
		
	}

	a {
		padding:2px 10px;
		color:#000;
		&:hover {
			color: $orange;
		}
	}

	p {
		padding:2px 10px;
		margin-bottom: 0;
	}
}

.footer {
	background:#edece9;
	color: #2f2f2f;
	margin-top: 100px;
	padding: 30px;
	box-shadow: 0 2px 3px #dcdbd9 inset;
}

@media screen and (max-width: 568px) {
	select {
		padding-left: 0;
	}
}

@media screen and (max-width: 820px) {
	.img-question {
	display: none;
	}
}

@media screen and (min-width: 1340px) {
	.slider-area {
	background: url('../img/background.png') no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
}
}