/*
Errno::ENOENT: No such file or directory - app

Backtrace:
/Users/verkalets/.rvm/gems/ruby-1.9.3-p448@rails311/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:360:in `read'
/Users/verkalets/.rvm/gems/ruby-1.9.3-p448@rails311/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:360:in `update_stylesheet'
/Users/verkalets/.rvm/gems/ruby-1.9.3-p448@rails311/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/verkalets/.rvm/gems/ruby-1.9.3-p448@rails311/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/verkalets/.rvm/gems/ruby-1.9.3-p448@rails311/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/verkalets/.rvm/gems/ruby-1.9.3-p448@rails311/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/verkalets/.rvm/gems/ruby-1.9.3-p448@rails311/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/verkalets/.rvm/gems/ruby-1.9.3-p448@rails311/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/verkalets/.rvm/gems/ruby-1.9.3-p448@rails311/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/verkalets/.rvm/gems/ruby-1.9.3-p448@rails311/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/Users/verkalets/.rvm/gems/ruby-1.9.3-p448@rails311/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/Users/verkalets/.rvm/gems/ruby-1.9.3-p448@rails311/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - app"; }
