!!! 5
%html 
	%head
		%link{:rel => "stylesheet", :href => "css/app.css"}/
		
		%script{:src=>'http://code.jquery.com/jquery-1.10.2.min.js'} 
		%script{:src=>'js/zclip.js'}
		%script{:src=> 'js/app.js'} 
	%body 
		
		
